.text1 {
    font-family: "spectral";
    font-size: 50px;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 0px;
    height: 0px;
}

.stats{
    text-align: center;
    font-family:"Marianne";
}

.stats table {
    margin: 0 auto;
    border: 0;
    border-collapse: separate;
    border-spacing: 10vw;
}

.stats p {
    margin: 0;
    font-size: 25px;
}

.img1 {
    text-align: center;
}

.img1 img {
    width: 35vw;
}

